header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3378be; /* azul oscuro */
    color: white;
    height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 35px;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.1); /* azul transparente */
    padding: 20px;
    width: 100%;
    height: 100%;
}

.create-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-tweet textarea {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}

.btn-tweet {
    display: block;
    flex-direction: column;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.tweet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
}

.tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.tweet-header h3 {
    margin: 0;
}

.tweet-date {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}


